/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.anchor-pane{
	-fx-background-color:rgb(81,81,81);
	-fx-border-color: darkgrey;
	-fx-background-radius:9;
	-fx-border-radius:9;
	-fx-border-width: 2pt;

}


.anchor-pane-orange-border {
	-fx-border-color: orange;
	-fx-border-radius:9;
	-fx-background-color:rgb(81,81,81);
	-fx-border-width: 1pt;
}

.anchor-pane-borderless {
	-fx-background-color:rgb(81,81,81);
	-fx-background-radius:9;
	-fx-border-radius:9;
}

.border-pane-center-accent {
	-fx-background-color: gray;
}

.border-pane-center{
	-fx-background-color:rgb(81,81,81);
}

.button {
}

.button:pressed{
	
}

.button:hover{
	
}

.check-box{
	-fx-text-fill: white;
}

.check-box:hover{
	
}

.context-menu {
	-fx-background-color: rgb(81,81,81);
}

.label{
	-fx-text-fill: white;
}

.label-header{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-padding:0 5 0 5;
}

.menu-bar{
  -fx-background-color:rgb(81,81,81);
}

.menu-bar .item:hovered {
	-fx-background-color: orange;
}

.menu .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 10pt;
}

.menu-item:focused {
	-fx-background-color: orange;
}

.menu-item .label{
     -fx-background-color: rgb(81,81,81);
     -fx-font-size: 10pt;
}

.radio-button{
	-fx-text-fill: white;
}

.scroll-pane > .viewport {
	-fx-background-color: transparent;
	-fx-background-radius:9;
	-fx-border-radius:9;
}

.scroll-pane{
	-fx-background-color: transparent;
	-fx-background-color: rgb(81,81,81);
}

.scroll-pane .thumb{
	-fx-background-color:darkgray;
}

.scroll-pane .track{
}

.scroll-pane .decrement-arrow{

}

.scroll-pane .corner{
	-fx-background-color:transparent;
}

.increment-button:hover{
	-fx-background-color:transparent;
}

.decrement-button:hover{
	-fx-background-color:transparent;
}

.scroll-pane .scroll-bar{
	-fx-background-color:transparent;
}

.stack-pane{
	-fx-border-color:orange;
	-fx-border-radius:9;
	-fx-padding:5;
}

.stack-pane .label-header{
	-fx-background-color: rgb(81,81,81);
	-fx-font-weight:bold;
	-fx-font-size:10pt;
}

.stack-pane .vBox {
	-fx-padding: 5;
}

.tab-pane{
	-fx-background-color:
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%);
	-fx-focus-color:rgb(81,81,81);
}

.tab-paneLabels {
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.tab-pane *.tab-header-background {
    -fx-background-color: grey;
}

.tab{
	-fx-background-color: #343534;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: none; 
}

.tab:selected{
	-fx-background-color: #505250;
	-fx-border-color: #505250;
	-fx-border-radius: 10 10 0 0, 10 10 0 0;
}

.tab:selected .focus-indicator {
	-fx-border-color: #505250;
	-fx-border-radius: 10 10 0 0, 10 10 0 0;
    -fx-border-insets: -6 -9 -8 -8, -5 -8 -7 -7;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-padding:0 10 0 0;
}

.tab:hover{
	-fx-border-color:orange;
	-fx-border-radius: 10 10 0 0, 10 10 0 0;
}

.tab-header-area .tab{
    -fx-padding:4 10 5 10;
    -fx-background-radius: 10 10 0 0;
}

.tab-label{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.table-view {
	-fx-background-color: rgb(81,81,81);
	-fx-border-color: orange;
	-fx-border-radius:9;
	-fx-padding:5;
}

.table-row-cell{
	-fx-background-color: rgb(81,81,81);
	-fx-background-radius:9;
	-fx-border-color: orange;
	-fx-border-radius:9;
}

.table-row-cell .text{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.table-row-cell:odd{
	-fx-background-color: grey;
	-fx-border-color: orange;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.table-view .label{
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.table-row-cell:unselected{
	-fx-text-fill: white;
}

.table-row-cell:selected {
   -fx-background-color: orange;
}
.table-row-cell:selected .text {
       -fx-fill: white;
}

.table-row-cell .text{
	-fx-fill: white;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .column-header {
  	-fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
  	-fx-border-color:orange;
  	-fx-border-radius:9;
}

.table-view .arrow {  
   -fx-mark-color: orange ;  
}  

.table-view .column-header-background,
.table-view .column-header-background .filler{
	-fx-background-color: transparent;
}

.table-cell{
	-fx-text-fill: white;
}

/* When control is selected but not focused */
.table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected {
    -fx-text-fill: white;
}

.text-area{
	-fx-text-fill:black;
}

/* Fixes bug that makes text to light while disabled
 * see: http://stackoverflow.com/questions/35712028/why-does-disabled-javafx-textarea-has-a-different-color-than-textfield
 */
.text-input > .scroll-pane:disabled {
    -fx-opacity: 1;
}

.tree-view {
	-fx-border-color: darkgrey;
	-fx-border-width: 2pt;
	-fx-border-radius:9;
	-fx-background-color:rgb(81,81,81);
}

.tree-view .scroll-bar{
	-fx-background-color:transparent;
}

.tree-view .scroll-bar .thumb{
	-fx-background-color:darkgray;
}

.tree-view .tree-cell {
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-padding: 4 6 4 6;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box, black , 1, 0.0 , 0 , 1);
}

.tree-view .tree-cell:selected {
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(orange , #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
       	-fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box, black , 1, 0.0 , 0 , 1);
}

.tree-view .tree-cell:hover{
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(orange , #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-effect: dropshadow( three-pass-box , orange , 3, 0.0 , 0 , 1);
}

.tree-view .tree-cell:empty:hover{
	-fx-background-color:transparent;
	-fx-border-color:transparent;
}

.tree-view .tree-cell:empty{
	-fx-background-radius:9;
	-fx-background-color:transparent;
	-fx-border-color:transparent;
	-fx-effect:none;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: orange;
    
}

.tree-cell:selected > .tree-disclosure-node > .arrow  {
    -fx-background-color: orange;
    
}

.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: orange;
}

.tree-view-borderless {
	-fx-background-color:rgb(81,81,81);
}

.tree-view-orange-border {
	-fx-border-color: orange;
	-fx-border-width: 1pt;
	-fx-background-color:rgb(81,81,81);
}

.tree-view-orange-borderless{
	-fx-border-color:rgb(81,81,81);
	-fx-border-width: 0pt;
} 

.tree-view-orange-borderless .tree-cell{
	-fx-background-color: rgb(81,81,81);
	-fx-font-size: 12px;
    -fx-effect: none;
}

.tree-view-orange-border .tree-cell:hover{
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(orange , #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
	-fx-effect: none;
}

.tree-view-orange-border .tree-cell:empty:hover{
	-fx-background-color:rgb(81,81,81);
	-fx-border-color:rgb(81,81,81);
}

.tree-view-orange-borderless .tree-cell:selected {
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(orange , #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
       	-fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box, black , 1, 0.0 , 0 , 1);
}

/* #menu-button{
	-fx-background-color: rgb(81,81,81);
	-fx-text-fill: white;
}

#menu-button:pressed{
	-fx-background-color:rgb(60,60,60);
	-fx-border-color:orange;
}

#menu-button:hover{
	-fx-border-color:orange;
}
*/

#menu-button{
	-fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 8 12 8 12;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#collapse-button{
	-fx-background-color: 
		linear-gradient(from 0% 50% to 100% 50% , #686868, #232723 25% , #373837 75% , #757575 100% ),
		linear-gradient(from 0% 50% to 100% 50% , #020b02, #3a3a3a),
		linear-gradient(from 0% 50% to 100% 50% , #9d9e9d, #6b6a6b 20% , #343534 80% , #242424 100% ),
		linear-gradient(from 0% 50% to 100% 50% , #8a8a8a, #6b6a6b 20% , #343534 80% , #262626 100% ),
		linear-gradient(from 0% 50% to 100% 50% , #777777, #606060 50% , #505250 51% , #2a2b2a 100% );
	-fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#collapse-button:hover{
	-fx-background-color: 
		linear-gradient(from 0% 50% to 100% 50% , #686868, #232723 25% , #373837 75% , #757575 100% ),
		linear-gradient(from 0% 50% to 100% 50% , orange, #3a3a3a),
		linear-gradient(from 0% 50% to 100% 50% , #9d9e9d, #6b6a6b 20% , #343534 80% , #242424 100% ),
		linear-gradient(from 0% 50% to 100% 50% , #8a8a8a, #6b6a6b 20% , #343534 80% , #262626 100% ),
		linear-gradient(from 0% 50% to 100% 50% , #777777, #606060 50% , #505250 51% , #2a2b2a 100% );
	-fx-effect: dropshadow( three-pass-box , orange , 3, 0.0 , 0 , 1);
	-fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
}

/* Not yet Used */
#collapse-button-radial{
	-fx-background-color: 
		radial-gradient(focus-angle 90deg , focus-distance -9% , center 50% 50% , radius 50% , #686868 6% , #232723 100% , #373837 100% , #757575);
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

#menu-button Text{
	-fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}

#menu-button:pressed{
	-fx-background-color:rgb(60,60,60);
}

#menu-button:hover{
	-fx-effect: dropshadow( three-pass-box , orange , 1, 0.0 , 0 , 1)
}

