.root {
    -fx-base: #333;
    -fx-background: #333;
}

.button {
	-fx-border-color: #C8782A;
	-fx-border-radius: 2;
}

.dropdown {
	-fx-border-color: #C8782A;
	-fx-border-radius: 2;
}

.box {

	-fx-fill: #333;
	-fx-stroke: #C8782A;
	-fx-border-color: #C8782A;
	-fx-border-radius: 2;
}

#operation {

	-fx-text-fill: #C8782A;
}



